body{
    font-family: 'Open Sans', sans-serif;
}
h1{
    font-size: 50px;
}
.Mission{
    color: rgb(245, 215, 80);
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-top: 10%;
}
.half-width img{
    width:100%;
}
.Explore-now{
    text-decoration: none;
    background-color: rgb(0, 53, 66);
    padding: 15px 45px;
    color: white;
    font-weight: 600px;
    border-radius: 5px;
}
.half-width p{
    padding-top:  20px;
    padding-bottom: 10px;
}
.my-mission{
    text-align: center;
}
.my-mission span{
    color: rgb(245, 215, 80);
}
.footer{
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
   
}
.footer span{
   color:  rgb(245, 215, 80);
}
.mvg img{
    width: 200px;
    height: 200px;
}
img.last-img{
   width: auto;
    height: 500px;
}
.quater-width1{
    width: 30%;
    padding-left: 10px;
    margin-left: 5%;
    margin-right: 5% ;
    box-shadow : 20px 20px 10px 10PX none;
    border-radius: 10px;
    background-color: thistle;
}
.quater-width2{
    width: 30%;
    padding-left: 10px;
    margin-left: 5%;
    margin-right: 5% ;
    box-shadow : 20px 20px 10px 10PX none;
    border-radius: 10px;
    background-color: rgb(173, 211, 241);
}
.quater-width3{
    width: 30%;
    padding-left: 10px;
    margin-left: 5%;
    margin-right: 5% ;
    box-shadow : 20px 20px 10px 10PX none;
    border-radius: 10px;
    background-color: rgb(180, 238, 189);
}
.line{
    border-left: 4px solid black;
    padding-left: 7px;
}
.app{
    text-align: center;
    padding-top: 33px;
}