body{
    font-family: 'Open Sans', sans-serif;
}
h1{
    font-size: 50px;
}
.Mission{
    color: rgb(245, 215, 80);
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-top: 10%;
}
.half-width img{
    width:100%;
}
.Explore-now{
    text-decoration: none;
    background-color: rgb(0, 53, 66);
    padding: 15px 45px;
    color: white;
    font-weight: 600px;
    border-radius: 5px;
}
.half-width p{
    padding-top:  20px;
    padding-bottom: 10px;
}
.my-mission{
    text-align: center;
}
.my-mission span{
    color: rgb(245, 215, 80);
}
.footer{
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
   
}